

html, body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	width: 100%;
	
}



ul {
	list-style-type: none;
}

a:hover,
a:focus {
	text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: none;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

hr {
	border-color: #ffc266;
	border-width: 5px;
	max-width: 100%;
}


.container-h1 {
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin: 50px auto;
    color: #333;
    font-family: 'Ubuntu', sans-serif;
    
}

.btn {
	color: #fff;
	background-color: #182c39;
	margin: 20px auto;
	border-radius: 0;
	font-weight: 500;
	display: table;
	padding: 10px;

	
}

section {
	align-items: center;
	padding: 50px 60px;
	
}

}

.slideanim {
	visibility: hidden;
}

.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	-moz-animation-name: slide;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	visibility: visible;
}




/*  ******* Header + Navigation ******* */

.navbar {
	background-color:#fff;
    border-color: rgb(51, 17, 0);
	border-color: rgba(51, 17, 0, 0.2);
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 700;
	padding: 15px 0;
	transition: padding .5s;
	border-bottom: solid 2px goldenrod;
}

.navbar .navbar-brand {
	color: #fff;
	font-family: 'Leckerli One', cursive;
	font-weight: 500;
	text-transform: none;
	font-size: 25px;
	padding-left: 15px;
	text-shadow: black 0.3em 0.3em 0.3em;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
	color: #ffc266;
	transition: color 1s;
}

.navbar .navbar-nav {
	padding-right: 50px;
}

.navbar .navbar-nav > li > a {
	text-transform: uppercase;
	margin: auto 5px;
	font-weight: 600;
	font-size: 16px;
	color:black;
	font-family: Arial, Helvetica, sans-serif;
    
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus:hover {
 
	border-bottom:#ffc266 3px solid;
	

}


.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li.active > a:focus:hover {
	background-color: transparent;
}

.navbar.scrolled {
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	padding: 5px 0;
	opacity: 0.9;
}

.jumbotron {
	
    background-image:;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
  
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 700px;
	width: 100%;
}


.jumbotron .header-content-inner {
	font-weight: 700;
	text-transform: none;
	margin-bottom: 0;
	margin: 200px;
	font-family: 'Roboto', sans-serif;
}

.jumbotron h1 {
	font-size: 45px;
}

.jumbotron h3 {
	font-size: 25px;
}
.mb-60 {
    margin-bottom: 60px;
	
}
.services-inner {
    border: 2px solid #ffc266;
    margin-left: 35px;
    transition: .3s;
	background-color: white;
	border-radius: 2.5em;
}
.our-services-img {
    float: left;
    margin-left: -36px;
    margin-right: 22px;
    margin-top: 28px;
}
.our-services-text {
    padding-right: 10px;
	
}
.our-services-text {
    overflow: hidden;
   
}
.our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.our-services-text h4::before {
  
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 5px solid  gainsboro;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.our-services-text p {
    margin-bottom: 0;
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
   }
   
.dropdown .dropdown-menu{
    background-color:white;
  font-size: 16px;
  right: 50%;
  color:black;
  margin-top: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;


}


}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
	content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

