<!doctype html>
<html lang="fr">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/stylindex.css') }}">
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Northstreet Restaurant">
    <meta name="author" content="A.K.">

    <title>page d'acceuil</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> >




    

</head>

<body id="myPage"  data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-expand-md bg-white navbar-white fixed-top">
        <logo> <img src="/static/image/2.PNG"> </logo>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" >
            <span class="navbar-toggler-icon "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    
                    <a class="nav-link" style="border-bottom:#ffc266 3px solid;" href="#home"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                      </svg> Home </a>
                </li> 
                
                 
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle"  id="dropdownMenu1" href="#" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      </svg>
                      </svg> s'inscrire</a>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1" style="width: 20vw;">
                        <li> <a class="dropdown-item" href="inscription_auto">Département automobile  </a></li>
                        <div role="separator" class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="inscription_com">Département commercial  </a></li>
                        <div role="separator" class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="inscription_irdt">Département IRDT  </a></li>
 
                      </ul>
                </li>  

                <li class="nav-item">

                    <a class="nav-link" href="/aide"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                      </svg> Aide ?</a>
                </li>  
            </ul>
        </div>  
    </nav>
   
    <div class="ontainer-fluid"style="background-image: url(/static/image/im.jpg); width:100%; height: 100vh;">
        
     

	<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 style="color: white;">NOS DEPARTEMENTS :</h2><br> <br>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="our-services-wrapper mb-60">
                               <a href="connexion_auto" style="text-decoration: none;"> <div class="services-inner">
                                    
                                    <div class="our-services-text" style="text-align: center;"> 
                                     <img src="v.PNG" width="68px" alt="" >
                                        <h4>Département Automobile</h4>
                                       
                                      
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="our-services-wrapper mb-60">
                                <a href="connexion_com" style="text-decoration: none;"><div class="services-inner">
                                   
                                    <div class="our-services-text"  style="text-align: center;">
                                        <img src="c.PNG" width="36px" alt="">
                                        <h4>Département Commércial</h4>
                                      
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="our-services-wrapper mb-60">
                                <a href="connexion_irdt" style="text-decoration: none;"> <div class="services-inner">
                                    
                                    <div class="our-services-text" style="text-align: center;">
                                        <img src="irdt.PNG" width="68px" alt="">
                                        <h4>Département IRDT</h4>
                                       
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
        </div>
    </div>
            
    
    </div>
    
    </section>
        
           
        
        
 
  

    





    <script src="script.js"></script>

    <script>
   /* Navbar scroll */
$(function(){

var nav = $('.navbar'),
    doc = $(document),
    win = $(window);

win.scroll(function() {

    if (doc.scrollTop() > 80) {
        nav.addClass('scrolled');
    } else {
        nav.removeClass('scrolled');
    }

});

win.scroll();

});


/* ***** Btn More-Less ***** */
$("#more").click(function(){
var $this = $(this);
$this.toggleClass('more');
if($this.hasClass('more')){
    $this.text('More');         
} else {
    $this.text('Less');
}
});




/* ***** Slideanim  ***** */
$(window).scroll(function() {
$(".slideanim").each(function(){
var pos = $(this).offset().top;

var winTop = $(window).scrollTop();
if (pos < winTop + 600) {
  $(this).addClass("slide");
}
});
}); 




/* ***** Smooth Scrolling  ***** */
$(document).ready(function(){ 
$(".navbar a, #service a").on('click', function(event) {

if (this.hash !== "") {
event.preventDefault();
var hash = this.hash;

$('html, body').animate({
  scrollTop: $(hash).offset().top
}, 900, function(){

  window.location.hash = hash;
  });
} 
});


/* ***** Scroll to Top ***** */ 
$(window).scroll(function() {
  if ($(this).scrollTop() >= 300) {        
      $('.to-top').fadeIn(200);    
  } else {
      $('.to-top').fadeOut(200);   
  }
});
$('.to-top').click(function() {      
  $('.body,html').animate({
      scrollTop : 0                       
  }, 500);
});

})
    </script>  
    
</body>

</html>
